<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>http服务之百度搜索</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript">
        var m1 = angular.module('myApp', []);
        m1.controller('func1', ['$scope', '$http','$timeout', function($scope,$http,$timeout) {
            var timer=null;
            $scope.valChange=function(name) {
                $timeout.cancel(timer);
                $scope.data = [];
                timer = $timeout(function () {
                    $http({
                        method: 'JSONP',
                        url: 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=' + name + '&cb=JSON_CALLBACK'
                    }).success(function (data) {
                        $scope.data=data.s;
                    });
                },500);
            };

        }]);

    </script>
</head>
<body ng-controller="func1">
<input type="text" ng-model="name" ng-keyup="valChange(name)"/>
<ul>
    <li ng-repeat="item in data">{{item}}</li>
</ul>
</body>
</html>